Import libraries

In [98]:
import numpy as np
import pandas as pd

Import Dataset

In [100]:
raw_data = pd.read_excel('Annual_Public_Finance (1).xlsx')

Extract relevant data

In [102]:
raw_data = raw_data.iloc[8:17,2:]

Set correct header

In [104]:
raw_data.columns = raw_data.loc[8]
raw_data = raw_data.reset_index()

Cleaning Dataset

In [106]:
raw_data = raw_data.loc[1:,'Items':]

In [107]:
raw_data

8,Items,2025,2025,2025,2025,2024,2024,2024,2024,2024,...,2002,2002,2001,2001,2001,2001,2001,2001,2001,2001
1,NaN,Bangladesh,India,Nepal,Pakistan,Bangladesh,Bhutan,India,Maldives,Nepal,...,Pakistan,Sri Lanka,Afghanistan,Bangladesh,Bhutan,India,Maldives,Nepal,Pakistan,Sri Lanka
2,Public Debt (Internal),77969.812258,1900090.135926,--,192000,72137.230508,248.004345,1792015.822017,5362.538137,--,...,..,9805,..,7033.924074,--,175923.947781,..,804.337575,..,8759
3,Public Debt (External),93421.257984,96012.359357,--,91801.317834,83467.450759,3257.094237,96156.647506,4048.386887,--,...,..,7464,..,15074.3,--,41587.500328,..,2699.941058,..,6835
4,Tax revenue,39566.401432,302328.280261,--,42042.987041,33295.155772,474.585037,281103.875241,1665.095298,--,...,7491.84,2319,--,3545.59,--,29913.493446,..,2591.347204,7229.64,2303
5,Direct tax,38366.165406,167233.792016,--,20733.396578,32545.651,236.792147,149023.248061,391.159237,--,...,2322.14,391,--,3359.71,--,10868.261376,..,2455.495163,2131.84,388
6,Total receipts,43241.606921,369014.180213,--,--,37439.402125,980.763093,333635.412376,2119.367372,--,...,9506.76,2812,--,4733.88,--,42625.053629,..,662.242806,8795.35,2683
7,Total expenditure,61584.524405,554590.9896,--,--,55050.603277,1063.160925,533496.437359,3097.277509,--,...,10591.73,4213,--,6939.4,--,68633.056361,..,1081.33213,9431.9,4325
8,Gross Fiscal Deficit,-18342.917484,185576.809387,--,--,-17611.201153,-82.397832,199861.024983,-883.120548,--,...,1084.97,-1401,--,-2205.52,--,26008.002732,..,-414.487609,636.55,-1642

Dataset Transpose

In [109]:
raw_data = raw_data.T

Set header name

In [111]:
raw_data.columns = raw_data.loc['Items']

Drop irrelevant row

In [113]:
raw_data = raw_data.drop('Items', axis=0)

Reset Index

In [115]:
raw_data = raw_data.reset_index()

In [116]:
raw_data.columns

Index([                       8,                      nan,
       'Public Debt (Internal)', 'Public Debt (External)',
                  'Tax revenue',             'Direct tax',
               'Total receipts',      'Total expenditure',
         'Gross Fiscal Deficit'],
      dtype='object', name='Items')

In [117]:
raw_data.columns = ['Year','Country','Public Debt (Internal)', 'Public Debt (External)',
                  'Tax revenue',             'Direct tax',
               'Total receipts',      'Total expenditure',
         'Gross Fiscal Deficit']

Manage null value

In [119]:
raw_data = raw_data.replace(to_replace=['--','..'], value=np.NaN)
#raw_data['Public Debt (External)'].astype(float)

/var/folders/s9/ssr_lt7x3rg4m6cgdpb1l4q40000gn/T/ipykernel_2005/2715971475.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  raw_data = raw_data.replace(to_replace=['--','..'], value=np.NaN)

Set datatime function to year column

In [121]:
raw_data['Year'] = pd.to_datetime(raw_data['Year']).dt.year
final_data = raw_data.round(2)
final_data

,Year,Country,Public Debt (Internal),Public Debt (External),Tax revenue,Direct tax,Total receipts,Total expenditure,Gross Fiscal Deficit
0,2025,Bangladesh,77969.81,93421.26,39566.40,38366.17,43241.61,61584.52,-18342.92
1,2025,India,1900090.14,96012.36,302328.28,167233.79,369014.18,554590.99,185576.81
2,2025,Nepal,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2025,Pakistan,192000.00,91801.32,42042.99,20733.40,NaN,NaN,NaN
4,2024,Bangladesh,72137.23,83467.45,33295.16,32545.65,37439.40,55050.60,-17611.20
...,...,...,...,...,...,...,...,...,...
187,2001,India,175923.95,41587.50,29913.49,10868.26,42625.05,68633.06,26008.00
188,2001,Maldives,NaN,NaN,NaN,NaN,NaN,NaN,NaN
189,2001,Nepal,804.34,2699.94,2591.35,2455.50,662.24,1081.33,-414.49
190,2001,Pakistan,NaN,NaN,7229.64,2131.84,8795.35,9431.90,636.55
191,2001,Sri Lanka,8759.00,6835.00,2303.00,388.00,2683.00,4325.00,-1642.00

Download the clean dataset

In [123]:
final_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 192 entries, 0 to 191
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Year                    192 non-null    int32
 1   Country                 192 non-null    object
 2   Public Debt (Internal)  155 non-null    float64
 3   Public Debt (External)  150 non-null    float64
 4   Tax revenue             174 non-null    float64
 5   Direct tax              173 non-null    float64
 6   Total receipts          173 non-null    float64
 7   Total expenditure       173 non-null    float64
 8   Gross Fiscal Deficit    173 non-null    float64
dtypes: float64(7), int32(1), object(1)
memory usage: 12.9+ KB

In [124]:
final_data.to_csv('Public Finance.csv', index=False)

In [125]:
# The End